<% content_for :title, "Editing column" %>

<h1>Editing column</h1>

<%= render "form", column: @column %>

<br>

<div>
  <%= button_to "Delete column", board_column_path(@column.board, @column), method: :delete %>
  <%= link_to "Back to board", board_path(@column.board) %>
</div>
