<% content_for :title, "Editing story" %>

<h1>Story details</h1>

<%= render "form", story: @story %>

<br>

<div>
  <%= button_to "Delete story", board_column_story_path(@story.column.board, @story.column, @story), method: :delete %>
  <%= link_to "Back to board", board_path(@story.column.board) %>
</div>
