<div>
    <h3>----------User actions START----------</h3>
    
    <p>Current user: <%= current_user.email %></p>
    <%= link_to "Sign out", destroy_user_session_path %>
    
    <h3>----------User actions END----------</h3>
</div>
